.navbar.navbar-expand-lg {
    padding: 0.6%;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 99%;
    border-top: 6px solid #f68c1f;
    margin-top: -7px;
    #search {
        padding-left: 10rem;
        margin-right: -16rem;

        .fa {
            margin-left: -1rem;
        }
    }

    .navbar-right {
        display: flex;
        width: 80rem;
        justify-content: end;
        // padding-left: 30rem;

        .fa {
            margin-left: 2rem;
        }
    }

    .img-responsive.logo {
        width: 8rem;
    }

}


.nav-item {
    overflow: hidden;
    text-align: center;

    &.dropdown {
        text-align: left;
        overflow: unset;
    }

    &:hover .dropdown-profile {
        display: block;

    }

    & .dropdown-profile {
        display: none;

    }
}