//lables
$label-avarage-color:#f3ad06;
$label-good-color:#22af46;
$label-excelent-color:#01b2c6;
$label-weak-color:#de4848;


$white_color:#FFFFFF;
$primary_color:#F4F7F6;
$secondry_color:#F68C1F;
$heading_color:#5A5A5A;

//
//MY VARIABLES
//

//COLORS
$gray--lighter: rgb(250, 251, 253);
$gray--light: rgb(206, 212, 218);
$gray:rgb(154, 154, 154);
$gray--dark: rgb(68, 68, 68);
$orange: rgb(246, 140, 31);
$cyan: rgb(67, 122, 199);
$cyan--bright: rgb(0, 115, 238);
$golden: rgb(255, 193, 7);
$fb--color: rgb(59, 89, 152);
$tw--color: rgb(85, 172, 238);

//MIXINS
