.container-page-title {
    padding: 1rem;
    background-color: #F4F7F6;
    height: 6rem;

    .page-title {
        // width: 20%;

        span {
            padding-left: 2rem;
            color: #5A5A5A;
        }

        &--list {
            li {
                display: inline-block;

                span {
                    font-size: 1.5rem;
                    margin-left: -1rem;
                    color: #5A5A5A;
                }
            }

            .fa {
                font-size: 2rem;
            }
        }
    }
}